<h1>宿泊施設詳細</h1>

<table>
  <tr>
    <td><%= image_tag('default-image.png') %></td>
    <td><%= @room.name %></td>
    <td><%= @room.content %></td>
    <td><%= @room.price %></td>
    <td><%= @room.address %></td>
  </tr>
</table>

<div>

  <%= form_with model: @reservation do |f| %>

    <%= f.label :check_in_date, "チェックイン日" %>
    <%= f.date_field :check_in_date, required: true%>

    <%= f.label :check_out_date, "チェックアウト日" %>
    <%= f.date_field :check_out_date, required: true %>

    <%= f.label :number_of_person, "人数" %>
    <%= f.number_field :number_of_person, required: true %>

    <%= f.submit "予約する" %>

  <% end %>

  <%= link_to "旅館一覧へ", rooms_path %>
</div>
