<h1>宿泊施設詳細</h1>

<table>
  <tr>
    <td><%= image_tag('default-image.png') %></td>
    <td><%= @room.name %></td>
    <td><%= @room.content %></td>
    <td><%= @room.price %></td>
    <td><%= @room.address %></td>
  </tr>
</table>

<%= form_with model: @reservation, method: :post, url: reservations_path do |f| %>

  <p><%= f.label :check_in_date, "チェックイン日" %></p>
  <p><%= f.date_field :check_in_date %></p>

  <p><%= f.label :check_out_date, "チェックアウト日" %></p>
  <p><%= f.date_field :check_out_date %></p>

  <p><%= f.label :number_of_person, "人数" %></p>
  <p><%= f.number_field :number_of_person %></p>

  <p><%= f.submit "確認画面へ" %></p>

<% end %>

<%= link_to "旅館一覧へ", rooms_path %>
