<h2>宿泊施設詳細</h2>

<table>
  <tr>
    <td><%= image_tag('default-image.png') %></td>
    <td><%= @room.name %></td>
    <td><%= @room.content %></td>
    <td><%= @room.price %></td>
    <td><%= @room.address %></td>
  </tr>
</table>
