<!DOCTYPE html>
<html>
  <head>
    <title>RailsLesson2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "宿泊予約アプリ", root_path %>
      <% if current_user.present? %>
        <p>こんにちは、<%= current_user.name %>さん!</p>
      <% else %>
        <p>こんにちは、ゲストさん!</p>
      <% end %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "ログイン", user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <h1>宿泊予約アプリ</h1>
  </footer>

</html>
