<!DOCTYPE html>
<html>
  <head>
    <title>RailsLesson2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1><%= link_to "民泊マッチング", root_path %></h1>
    <p><%= link_to "ログイン", 'users/sign_in' %></p>
    <p><%= link_to "新規登録", 'users/sign_in' %></p>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
